[submodule "uboot_palm"]
	path = uboot_palm
	url = ssh://github.com/toxxin/uboot_palm
[submodule "kernel_palm"]
	path = kernel_palm
	url = ssh://github.com/toxxin/kernel_palm
[submodule "rootfs_palm"]
	path = rootfs_palm
	url = ssh://github.com/toxxin/rootfs_palm
[submodule "sgx_palm"]
	path = sgx_palm
	url = ssh://github.com/toxxin/sgx_palm
[submodule "app_palm"]
	path = app_palm
	url = ssh@github.com/toxxin/app_palm
